* {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}


header {
    width: 100%;
    position: absolute;
}

nav {
    background-color: white;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 50px;

}

nav ul li a {
    display: inline-block;
    color: black;
    transition: 0.3s;
}

nav ul li a:hover {
    color: rgba(0, 0, 0, 0.562);
    transform: scale(1.1);
}


.redes-sociais {
    display: flex;
    align-items: center;
    gap: 15px;

}

.redes-sociais img {
    width: 22px;
    cursor: pointer;
}

/* main */

.imgfundo img {
    width: 100%;
}



/* SECTION 1 */
.img-esquerda img {
    width: 300px;

}

.container-section-1 {
    gap: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.texto-lado h4 {
    color: gray;
    padding-bottom: 10px;

}


.quality-redes {
    display: flex;
    align-items: center;
}

.quality-redes h3 {
    color: red;
    font-size: 25px;
    margin-right: 30px;

}

.quality-redes img {

    display: flex;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    width: 18px;
}

.texto-lado h6 {
    color: gray;
    padding-bottom: 20px;
}

.texto-lado p {
    font-size: 20px;
}

/* SECTION 2 */
section {
    margin-bottom: 100px;
}

.container-section-2 {
    display: flex;
    justify-content: center;
    gap: 100px;

}

.cards h1 {
    color: red;
    font-size: 20px;
    width: 290px;
    text-align: center;


}

.cards {
    text-align: center;
}



.cards img {
    padding-bottom: 30px;
    width: 120px;
}

.cards p {
    padding-top: 20px;
}

.galeria {
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

.galeria img {
    width: 300px;
    transition: 0.3s;
    cursor: pointer;
}

.galeria img:hover {
    opacity: 0.9;
}






.letras {
    margin-left: 340px;
    padding-bottom: 50px;
}

.letras h1 {
    color: red;
}


.galeria2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.galeria2 img {
    transition: 0.3s;
    cursor: pointer;
    width: 210px;
}

.galeria2 img:hover {
    opacity: 0.9;
}

.borda-meio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 0 auto;
    padding-top: 50px;
    border-bottom: 3px solid red;
}

.img-esquerdaa img{
    width: 600px;
}
.container-section-5 {
    display: flex;
    align-items: center;
    gap: 70px;
    justify-content: center;
}

.letras-direita {
    text-align: center;
}

button {
    border: none;
    color: white;
    background-color: red;
    border-radius: 50px;
    padding: 7px 50px;
    cursor: pointer;
    transition: 0.3s;

}

button:hover {
    background-color: rgb(128, 20, 20);
    color: black;
}



.letras-direita h1{
    font-size: 40px;
    padding-bottom: 15px;
    color: red;
}

.letras-direita h2 {
    font-size: 19px;
    padding-bottom: 20px;
}

.letras-direita h3 {
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.container-footer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.container-footer h1 {
    font-size: 15px;
}
